#food-input {

}

svg {
	font-size: 4px;
}

svg text {
	text-anchor: middle;
	dominant-baseline: central;
}

#search_suggestions {
	width: 234px;
	max-height: 200px;
	overflow-y: auto;
	padding: 5px;
	border: 1px solid black;
}

#search_suggestions:empty {
	display: none;
}

#search_suggestions>span {
	width: 100%;
	display: block;
	cursor: pointer;
}

#search_suggestions>span:hover {
	background: lightgreen;
}

#shopping_list>div>button {
	cursor: pointer;
}

#map {
	height: 50%;
	aspect-ratio: 1/1;
}

#map>rect {
	fill: grey;
	opacity: 0.8;
	stroke: black;
	stroke-width: 1;
}

#lines>line {
	stroke: blue;
	stroke-width: 1;
}