main {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

main>div>div:first-child {
	margin-bottom: 40px;
}

main button {
	padding: 10px;
	font-size: 24px;
	border-radius: 5px;
	cursor: pointer;
}