#projects {
	display: grid;
	gap: 20px;
}

.projects_list {
	display: grid;
	gap: 10px;
}

@media (min-width: 900px) {
	.projects_list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 899px) {
	.projects_list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 599px) {
	.projects_list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 299px) {
	.projects_list {
		grid-template-columns: repeat(1, 1fr);
	}
}

.projects_list-title {
	margin: 0px;
	padding: 10px;
	grid-column: 1 / -1;
	text-align: center;
	color: #2f3235;
	font-family: Source Sans Pro, sans-serif;
	font-style: normal;
	font-weight: 700;
	border-top: 1px dashed black;
}

.project {
	display: grid;
	gap: 10px;
	padding: 5px;
	text-decoration: none;
	border: 1px solid black;
	cursor: pointer;
}

.project-title {
	margin: 0px;
	background-color: transparent;
	text-decoration: none !important;
	outline: none !important;
	justify-self: center;
	text-align: center;
	color: #2f3235;
	font-family: Source Sans Pro, sans-serif;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
	transition: color .2s ease,background-color .2s ease;
}

.project-title:hover, .project-title:focus {
	color: #4c4f53;
    text-decoration: underline !important;
}

.project-description {
	margin: 0px;
	font-family: Lora ,sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	line-height: 1.7;
	color: #4c4f53;
	text-align: justify;
}

footer {
	padding-bottom: 5px;
}