main>div>h1 {
	text-align: center;
	font-weight: normal;
}

main>div>div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 5px;
}

#top_projects>div {
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.projects_list>div a {
	min-height: 100px;
	height: auto;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	aspect-ratio: 16 / 9;
	border: 1px solid black;
	cursor: pointer;
}

.projects_list>div a>* {
	transition: 0.25s;
}

.projects_list>div a>:first-child {
	display: flex;
	width: auto;
	margin: auto;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 100%;
	height: 100%;
	font-size: 20px;
	background-color: white;
	color: var(--primary-background-color);
}

.projects_list>div a>:last-child {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 25%;
	opacity: 0.95;
	color: var(--primary-text-color);
	background: var(--primary-background-color);
	text-align: center;
}

.theme-dark .projects_list>div a>:first-child {
	background-color: rgba(0, 0, 0, 0.1);
	color: var(--dark-primary-text-color);
}

.theme-dark .projects_list>div a>:last-child {
	color: var(--dark-primary-text-color);
	background: var(--dark-primary-background-color);
}

.projects_list>div a:hover>:first-child, .projects_list>div a:focus>:first-child {
	transform: scale(1.2);
}

.projects_list>div a:hover>:last-child, .projects_list>div a:focus>:last-child {
	height: 100%;
}

.projects_list>div a:focus {
	border-width: 5px;
	outline: none;
}