body {
	grid-template-rows: 1fr;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	background-color: darkgray;
}

#svg {
	max-width: 100vw;
	max-height: 100vh;
	justify-self: center;
	align-self: center;
	background-color: transparent;
}

svg circle {
	stroke: wheat;
	stroke-width: 0.2;
}

svg .tick {
	stroke: wheat;
	stroke-width: 0.3;
}

svg .line_hours {
	stroke: wheat;
	stroke-width: 1;
	stroke-linecap: round;
}

svg .line_minutes {
	stroke: wheat;
	stroke-width: 1;
	stroke-linecap: round;
}

svg .line_seconds {
	stroke: wheat;
	stroke-width: 0.3;
	stroke-linecap: round;
}