main {
	display: grid;
}

#svg {
	width: 50%;
	justify-self: center;
	background-color: transparent;
}

svg .tick {
	stroke: wheat;
}

svg .line_hours {
	stroke: grey;
}

svg .line_minutes {
	stroke: lightgray;
}

svg .line_seconds {
	stroke: white;
}