.usefulButtons {
	margin: auto;
	width: 50%;
}

.field {
	/*margin: auto;
	width: 50%;*/
}

.line {
	margin: auto;
	width: 50%;
	height: 30px;
}

.case {
	cursor: progress;
	border: 1px solid black;
	padding: 0px;
	width: 30px;
	height: 30px;
}

#flagModeButton {
	background-color: black;
	color: white;
	opacity: 0.5;
}

#flagModeButton.active {
	background-color: green;
	color: white;
	opacity: 1;
}

#end_popup {}