body {
	margin: 0px;
}

.hidden {
	display: none !important;
}

/* GAME CONTAINER */

#game {
	min-width: fit-content;
	min-height: fit-content;
	height: 100vh;
	box-sizing: border-box;
}

/* END GAME CONTAINER */

.bottom_exit-button {
	width: 100%;
	display: block;
	grid-column: 1 / -1;
	align-self: end;
}

/* MAIN MENU */

#main_menu {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	padding: 10px;
	display: grid;
	grid-template-rows: min-content auto;
	align-items: center;
	outline: none;
}

.main_title {
	grid-row: 1;
	grid-column: 1 / -1;
	text-align: center;
	margin-top: 20px;
	color: #a59c99;
	font-family: Source Sans Pro, sans-serif;
	font-size: min(max(10vw, 16px), 80px);
	font-style: normal;
	font-weight: 700;
	letter-spacing: -2px;
	text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#menu_options-container {
	align-self: center;
	display: grid;
	grid-auto-rows: 1fr;
	gap: 3vh;
}

.menu-button {
	height: fit-content;
	padding: max(2vh, 3px);
	font-size: min(max(3vw, 12px), 20px);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 1);
	color: black;
	border: 1px solid transparent;
	cursor: pointer;
}

.menu-button:hover {
	border-color: currentColor;
	background-color: rgba(255, 255, 255, 0.5);
}

.menu-button:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(100, 100, 100, 0.5),
		0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.menu-button:active {
	transform: translateY(1px);
}

.main_menu-button {
	display: block;
	justify-self: center;
}

/* END MAIN MENU */

/* INSTRUCTIONS */

#instructions {
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	margin: auto;
	padding: 10px;
	outline: none;
}

#instructions>h3 {
	height: 60px;
	box-sizing: border-box;
	grid-column: 1 / -1;
	margin: 0px;
	padding: 10px;
	align-self: center;
}

/* END INSTRUCTIONS */

/* OPTIONS */

#menu_options {
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	display: grid;
	margin: auto;
	padding: 10px;
	outline: none;
}

#menu_options>h3 {
	height: 60px;
	box-sizing: border-box;
	grid-column: 1 / -1;
	margin: 0px;
	padding: 10px;
	align-self: center;
}

#options-container {
	height: calc(100% - 60px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

.option-button {}

.option-button>img {
	width: min(max(3vw, 12px), 20px);
	height: min(max(3vw, 12px), 20px);
}

/* END OPTIONS */

/* GAMEPLAY DIV */

#gameplay_div {
	height: 100%;
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	padding: 10px;
	overflow-x: auto;
	outline: none;
}

#gameplay_div .content {
	text-align: center;
}

#gameplay_div .top_bar {
	grid-row: 1;
}

#gameplay_div .top_bar>button {
	width: 32px;
	height: 32px;
	display: inline-block;
	padding: 0px;
	border: none;
	background-color: transparent;
}
#gameplay_div .top_bar>button>img {
	width: 100%;
	height: 100%;
}

#gameplay_div .top_bar #top_bar-center {
	width: calc(100% - (2 * 32px));
	display: inline-block;
}

/* END GAMEPLAY DIV */

/* MODAL */
.modal {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	display: grid;
	grid-template-columns: auto;
	align-items: center;
	justify-items: center;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

.x-close {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0%;
	right: 0%;
	margin: 0px;
	padding: 0px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: red;
	background-color: lightgrey;
}

.modal>div {
	min-width: 50%;
	max-width: 100%;
	width: fit-content;
	min-height: 50%;
	max-height: 100%;
	height: fit-content;
	box-sizing: border-box;
	position: relative;
	padding: 10px;
	display: grid;
	grid-template-rows: auto;
	align-items: center;
	justify-items: center;
	gap: 10px;
	color: black;
	border: 1px solid black;
	background-color: white;
}

.modal .modal_text {
	width: 100%;
	text-align: center;
}

.modal .modal_buttons_container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.modal button {}

/* END MODAL */