*, *::before, *::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
}

p {
	margin: 0;
}

button {
	cursor: pointer;
}

ul {
	margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.shared-table {
	border-spacing: 0;
	border-collapse: collapse;
}

.shared-svg {
	text-anchor: middle;
	dominant-baseline: central;
}