*, *::before, *::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
}

p {
	margin: 0;
}

button {
	cursor: pointer;
}

.shared-table {
	border-spacing: 0;
	border-collapse: collapse;
}

.shared-svg {
	text-anchor: middle;
	dominant-baseline: central;
}