html, body{
  text-align: center;
}

canvas {
  background-color: brown;
}



/*
background-image: none;
background-position: 0% 0%;
background-size: auto auto;
background-repeat: repeat;
background-origin: padding-box;
background-clip: border-box;
background-attachment: scroll;
background-color: transparent;

1024*576
1024*640
1280*720
1366*768
*/
