main {
	text-align: center;
}

svg line {
	stroke-width: 1px;
	stroke: black;
}

svg text {
	font-size: 16px;
	text-anchor: middle;
	dominant-baseline: central;
}

.tile-white rect {
	fill: white;
}

.tile-black rect {
	fill: #825454;
}

.piece:hover, .piece.active {
	stroke-width: 3px;
}

.piece.team0:hover {
	stroke: black;
}

.piece.team1:hover {
	stroke: white;
}

.piece.team0.active {
	fill: yellow;
}

.piece.team1.active {
	fill: yellow;
}

.team0 {
	fill: white;
}

.team1 {
	fill: black;
}