main {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: black;
}

svg {
	height: 100%;
}

svg line {
	stroke-width: 1px;
	stroke: black;
}

svg text {
	font-size: 16px;
	text-anchor: middle;
	dominant-baseline: central;
}

.tile-white rect {
	fill: tan;
}

.tile-black rect {
	fill: saddlebrown;
}

.piece {
	cursor: pointer;
}

.piece:hover, .piece.active {
	stroke-width: 3px;
}

.piece.team0:hover {
	stroke: black;
}

.piece.team1:hover {
	stroke: white;
}

.piece.team0.active {
	fill: cyan;
}

.piece.team1.active {
	fill: cyan;
}

.team0 {
	fill: white;
}

.team1 {
	fill: black;
}