body {
	width: 100vw;
	height: 100vh;
	margin: 0px;
}

main {
	background-color: lightgrey;
	user-select: none;
}

#selectors {
}

#game {
	position: relative;
}
#game > canvas {
	background-color: white;
	image-rendering: pixelated;
}

#game > .modal {
	min-width: 10px;
	width: 20%;
	min-height: 10px;
	display: none;
	position: absolute;
	background-color: black;
	opacity: 0.5;
}
.modal > .item_selector {
	width: 50%;
	display: inline-block;
}
.modal > .item_selector > img {
	width: 100%;
	display: block !important;
}

#top_container {

}

#grid_container {

}

#money {
	display: inline-block;
}

#thing-selectors {
	width: 497px;
}
#thing-selectors > button {
	width: 6.25%;
	height: calc(497px / 16);
	padding: 5px;
	margin: 0px;
	border: none;
	background-color: transparent;
}
#thing-selectors > button > img {
	width: 100%;
	height: 100%;
}

#toggle_updating {
	display: inline-block;
}

.gold g {
	fill: blue;
}