main form {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

form>div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 1fr;
	gap: 5px;
	width: 250px;
}

form>div>* {
	grid-column: span 2;
}

form input, form select {
	height: 23px;
}

ul.add_item_suggestions {
	list-style-type: none;
	display: grid;
	width: 100%;
	max-height: 200px;
	overflow-y: auto;
}

ul.add_item_suggestions li {
	background-color: white;
	color: black;
	border: 1px solid black;
	padding-left: 10px;
}

ul.add_item_suggestions li:hover {
	cursor: pointer;
	font-weight: bold;
}

ul.add_item_suggestions li.selected {
	color: green;
	text-decoration: underline;
}

.quantity_container {
	grid-template-columns: 1fr auto;
}

.quantity_container input, .quantity_container span {
	grid-column: span 1;
}