#top-nav {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

nav>a {
	text-align: center;
	color: var(--dark-primary-text-color);
	background-color: var(--dark-primary-background-color);
	border-width: 1px;
	border-style: solid;
	border-color: var(--dark-primary-text-color);
}

nav>a[href=""] {
	background-color: var(--dark-secondary-background-color);
	border-bottom: none;
}

main {
	padding: 16px;
}