#cv {
	position: relative;
	/* aspect-ratio: 592/842; */
	/* width: 592px; */
	/* height: 842px; */
	overflow-y: auto;
	/* margin: 20px; */
	background-color: white;
	color: black;
}

#bottom {
	display: grid;
	grid-template-columns: 20fr 11fr;
	padding-left: 30px;
}

#left {
	padding-right: 15px;
	padding-bottom: 30px;
	padding-top: 15px;
}

#right {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 30px;
	border-left: 1px solid black;
	background-color: #0045ff21;
}

embed {
	display: none;
	width: 100%;
	height: 100%;
}