#cv {
	position: relative;
	aspect-ratio: 592/842;
	/* width: 592px; */
	/* height: 842px; */
	overflow-y: auto;
	/* margin: 20px; */
	padding: 40px;
	background-color: white;
	color: black;
}

#bottom {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding-top: 15px;
}

#left {
	padding-right: 15px;
}

#right {
	padding-left: 15px;
	border-left: 1px solid black;
}

embed {
	display: none;
	width: 100%;
	height: 100%;
}