#cv {
	position: relative;
	aspect-ratio: 592/842;
	/* width: 592px;
	height: 842px; */
	overflow-y: auto;
	margin: 20px;
	padding: 40px;
	background-color: white;
	color: black;
}

#top {
	margin-bottom: 30px;
	display: grid;
	justify-items: center;
}

section {
	border-top: 1px solid black;
}

section>div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.ss-title {
	margin: 10px 0;
}

.ss-descriptions {
	margin: 10px 0;
}

.name {
	margin: 0;
}

.position {
	margin: 0;
}

.description {
	margin: 0;
}

.titles {
	display: grid;
	margin-bottom: 25px;
}

.title {
	font-weight: bold;
	margin: 0;
}

.subtitle {
	font-style: italic;
	font-weight: 300;
	margin: 0;
}

section:last-child .ss-descriptions {
	margin-bottom: 0;
}

embed {
	display: none;
	width: 100%;
	height: 100%;
}