section {
	padding-top: 10px;
	border-top: 1px solid black;
}

section:first-child {
	padding-top: 0;
	border-top: none;
}

section:first-child>.section-title {
	margin-top: 0;
}

.section-title {
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	color: rgb(38, 95, 119);
}