.sub_section {
	margin: 10px 0;
	padding-left: 10px;
}

.title {
	font-size: inherit;
	font-weight: normal;
	margin: 0;
}

.job_title {
	font-size: 18px;
	font-weight: 500;
	color: rgb(0, 81, 255);
}

.sub_section>.subtitle {
	font-style: italic;
	font-weight: 300;
	margin: 0;
}

.sub_section>.description {
	padding-left: 10px;
}

#right .sub_section>.description {
	padding-left: 0;
}

.date-start::before {
	content: " : ";
}

.date-end::before {
	content: " - ";
}

.country::before {
	content: " (";
}

.country::after {
	content: ")";
}

.multiple {
	margin-top: 5px;
	padding-left: 25px;
}