.profile_picture {
	height: calc(min(100%, 100px));
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 25%;
}

.name {
	margin: 0;
}

.first_name::after {
	content: " ";
}

.last_name {
	text-transform: uppercase;
}

.job_searched {
	margin: 0;
}

.about {
	margin: 0;
}