#top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid black;
}

.profile_picture {
	height: 100px;
	border-radius: 25%;
}

.name {
	font-size: 36px;
	font-weight: lighter;
	margin: 0;
}

.first_name::after {
	content: " ";
}

.last_name {
	text-transform: uppercase;
}

.job_searched {
	margin: 0;
}

.about {
	margin: 0;
}

.top_left {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 20px;
}

.infos>* {
	display: block;
}

.infos a {
	font-size: 12px;
}

.links * {
	display: inline-block;
}

.links>*:not(:first-child)::before {
	content: " / ";
	white-space: pre;
	display: inline-block;
}