#top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding-bottom: 40px;
	border-bottom: 1px solid black;
}

.profile_picture {
	width: 100%;
	border-radius: 25%;
}

.name {
	font-size: 36px;
	font-weight: lighter;
	margin: 0;
}

.first_name::after {
	content: " ";
}

.last_name {
	/* text-transform: uppercase; */
}

.top_left {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
	gap: 20px;
}

.infos>* {
	display: block;
}

.infos a, .links a {
	font-size: 12px;
}

.links * {
	display: inline-block;
}

.links>*:not(:first-child)::before {
	content: " / ";
	white-space: pre;
	display: inline-block;
}

.top_right {
	display: grid;
}

.job_searched {
	margin-bottom: 20px;
	justify-self: center;
	text-align: center;
	font-size: 40px;
	font-weight: lighter;
	color: rgb(0, 81, 255);
}

.about {
	margin: 0;
	text-align: center;
}