svg line {
	stroke-width: 1px;
	stroke: black;
}

svg text {
	font-size: 16px;
	text-anchor: middle;
	dominant-baseline: middle;
}

.tile-white {
	fill: white;
	stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9
}

.tile-black {
	fill: black;
}