main {
	text-align: center;
}

svg line {
	stroke-width: 1px;
	stroke: red;
}

svg text {
	font-size: 36px;
	text-anchor: middle;
	dominant-baseline: central;
}

.tile-white rect {
	fill: white;
}

.tile-white text {
	fill: black;
}

.tile-black rect {
	fill: black;
}

.tile-black text {
	fill: white;
}