main {
	display: grid;
	grid-template-columns: auto auto;
}

main>div:last-child {
	justify-self: right;
}

#food-input {}

svg {
	border: 1px solid;
}

svg text {
	text-anchor: middle;
	dominant-baseline: central;
}

#search_suggestions {
	width: 234px;
	max-height: 200px;
	position: absolute;
	overflow-y: auto;
	padding: 5px;
	border: 1px solid black;
	background-color: var(--dark-primary-background-color);
}

#search_suggestions:empty {
	display: none;
}

#search_suggestions>span {
	width: 100%;
	display: block;
	cursor: pointer;
}

#search_suggestions>span:hover {
	background: lightgreen;
}

#shopping_list>div>button {
	cursor: pointer;
}

#map {
	max-width: 100%;
	height: calc(100vh - 80px);
}

.shelfs {
	opacity: 0.5;
}

.shelf {
	fill: grey;
	opacity: 0.8;
	stroke-width: 0.1;
	stroke: black;
}

.shelf-border {
	fill: blue;
}

.shelf-name {
	transform-box: fill-box;
	transform-origin: center;
	transform: rotate(90deg);
	font-size: 1px;
	fill: var(--primary-text-color);
}

.visited {
	fill: rgba(172, 255, 47, 0.25);
	/* stroke: green;
	stroke-width: 0.1; */
}

.visited-text {
	fill: white;
	font-size: 0.4px;
}

.target {
	fill: orange;
	stroke: black;
	stroke-width: 0.1;
}

.target-start {
	fill: blue;
}

.target-path {
	fill: orange;
}

.target-end {
	fill: green;
}

.path {
	stroke: blue;
	stroke-width: 0.1;
}