#food-input {}

svg {
	border: 1px solid;
}

svg text {
	text-anchor: middle;
	dominant-baseline: central;
}

#search_suggestions {
	width: 234px;
	max-height: 200px;
	overflow-y: auto;
	padding: 5px;
	border: 1px solid black;
}

#search_suggestions:empty {
	display: none;
}

#search_suggestions>span {
	width: 100%;
	display: block;
	cursor: pointer;
}

#search_suggestions>span:hover {
	background: lightgreen;
}

#shopping_list>div>button {
	cursor: pointer;
}

#map {
	height: 50%;
}

.shelf {
	fill: grey;
	opacity: 0.8;
	stroke-width: 0;
}

.shelf-border {
	fill: blue;
}

.shelf-name {
	transform-box: fill-box;
	transform-origin: center;
	transform: rotate(90deg);
	font-size: 1px;
	fill: var(--primary-text-color);
}