#top_nav {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#top_nav>input {
	display: none;
}

#print_resume {
	justify-self: left;
	text-transform: uppercase;
}

#language_selector {
	justify-self: right;
	text-transform: uppercase;
}

body {
	margin: 0;
}

#resume-fr {
	display: block;
	display: none;
}

#resume-en {
	display: none;
	display: block;
}

#resume-canadian-en {
	display: block;
	display: none;
}

/* RESUME */
.resume {
	/*width: 800px;*/
	height: 100%;
	position: relative;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	background-color: transparent;
}

.resume * {
	box-sizing: border-box;
}

#container-left {
	width: 32%;
	display: inline-block;
	position: absolute;
	top: 0;
	padding: 25px 12.5px 0 25px;
}

#resume-fr #container-left {
	padding: 20px 12.5px 0 25px;
}

.canadian #container-left {
	padding: 45px 12.5px 0 25px;
}

#container-right {
	width: 68%;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 25px 25px 0 12.5px;
}

#resume-fr #container-right {
	padding: 20px 25px 0 12.5px;
}

.canadian #container-right {
	padding: 45px 25px 0 12.5px;
}

.resume p,
.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume span {
	margin: 0;
	text-align: justify;
}

#main_title {
	font-size: 22px;
	color: orangered;
	font-weight: bold;
}

.resume h1 {
	margin-bottom: 15px;
	text-align: center;
	font-size: 12px;
	font-weight: initial;
	text-transform: uppercase;
}

.resume h2 {
	margin-bottom: 15px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: darkblue;
	text-transform: uppercase;
}

.resume h3 {
	font-size: 14px;
	font-weight: bold;
}

.resume h4 {
	font-weight: bold;
}

.resume a {
	color: black;
	text-decoration: none;
}

.bordered_container {
	padding: 15px;
	border: 2px solid darkblue;
	border-radius: 10px;
	margin-bottom: 25px;
}

#canadian_name {
	margin: 15px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

/* PERSONAL */
#personal {
	font-size: 12px;
	margin-bottom: 29px;
}

#resume-fr #personal,
#resume-en #personal {
	padding: 0;
	border-color: transparent;
}

.icon_container {}

#profile_pic {
	width: 50%;
	margin-left: 25%;
	padding: 2%;
	border-radius: 50%;
	border: 2px solid darkblue;
}

#resume-fr #infos,
#resume-en #infos {
	margin-top: 10px;
	margin-left: 15px;
}

/* END PERSONAL */
/* DESCRIPTION */
#description {
	text-align: center;
	border: 1px dashed black;
	padding-top: 25px;
	padding-bottom: 25px;
}

#description>p {
	text-align: center;
	margin-left: -1px;
	margin-right: -1px;
}

#title {
	font-size: 20px;
}

/* END DESCRIPTION */
/* WORK EXPERIENCES */
#work_experiences {}

.work-experience {
	margin-top: 15px;
}

.work-title {
	font-weight: bold;
}

.work-title-date::after {
	content: "\00a0:\00a0"
}

.work-title-position {
	color: darkblue;
}

.work-title-employer::before {
	content: "\00a0-\00a0"
}

.work-title-city::before {
	content: "\00a0("
}

.work-title-city::after {
	content: ")"
}

/* END WORK EXPERIENCES */
/* TECHNOLOGIES */
#technologies {}

ul {
	margin-top: 15px;
	padding-left: 15px;
}

lh {
	margin-left: -15px;
	font-size: 14px;
	font-weight: bold;
}

ul>li>p {
	display: inline;
}

ul>li>p:first-child {
	font-style: italic;
	/*
	text-decoration: underline;
	/**/
}

ul>li>p:nth-child(2)::before {
	content: ":\00a0";
}

/* END TECHNOLOGIES */
/* EDUCATION */
#education {}

.diploma {
	margin-top: 15px;
}

.diploma-date::after {
	content: "\00a0:\00a0";
}

.diploma-name {
	font-weight: bold;
	color: darkblue;
}

.diploma-school {
	font-style: italic;
}

/* END EDUCATION */
/* LANGUAGES */
#languages {}

#resume-fr .language {
	margin-top: 6px;
}

#resume-en .language {
	margin-top: 5px;
}

/* END LANGUAGES */
/* PROJECTS */
#projects {}

.project {
	margin-top: 15px;
}

/* END PROJECTS */

.icon_container>img {
	height: 12px;
	vertical-align: middle;
}

.icon_container>* {
	display: inline-block;
}

.icon_container>p::before {
	content: "\00a0\00a0";
}

@media screen and (max-width: 600px) {

	#container-left,
	#resume-fr #container-left,
	.canadian #container-left,
	#container-right,
	#resume-fr #container-right,
	.canadian #container-right {
		width: 100%;
		position: relative;
		padding: 10px 10px 0 10px;
	}

	#resume-fr #personal,
	#resume-en #personal {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 10px;
		margin-bottom: 10px;
	}

	#profile_pic,
	#infos {
		width: 100%;
		margin: 0;
	}

	#resume-fr #infos,
	#resume-en #infos {
		width: fit-content;
		height: 70px;
		margin-top: calc((50% - 70px) / 2);
		margin-left: calc(100% - 170px);
	}

	.bordered_container,
	#personal.bordered_container {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 300px) {
	#personal {
		display: block;
	}

	#profile_pic {
		width: 50%;
		margin-left: 25%;
	}

	#resume-fr #infos,
	#resume-en #infos {
		height: fit-content;
		margin: 0;
	}
}