main {
	padding: 20px;
}

.result_container {
	margin-top: 20px;
}

.result_title {
	display: block;
}

.result_value {
	font-weight: bold;
}

.result_container button {
	margin-left: 10px;
}

.inputs {
	display: grid;
	gap: 10px;
}

.inputs>div>* {
	display: block;
}