html, body {
  text-align: center;
}

div {
  -webkit-transition: all 0.5s ease-in-out;
}

#webPage {
  background: -moz-linear-gradient(bottom, DeepSkyBlue, white);
}

#game {}

button {
  /*float: left;*/
  background-color: Transparent;
  border: 1px brown;
  padding: 0px;
}
