#main {
	display: grid;
	grid-template-rows: 1fr auto;
}

#svg {
	width: 100%;
	height: 100%;
	border: 1px solid black;
}

#svg svg {
	overflow: visible;
}

#svg line {
	stroke: black;
	stroke-width: 1;
}

#svg circle {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

#svg path {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

.grid-rect {
	stroke: rgba(0, 0, 0, 0.1);
	stroke-width: 1;
	fill: none;
}

#frame_counter {
	position: absolute;
	top: 0;
	right: 0;
}