html, body{
	text-align: center;
}

body{
  /*display: inline;*/
}

#content{
  width:100%;
}

#infoBar {
  width: 100%;
  background-color: white;
}

#shop {
  width: 20%;
  background-color: grey;
  /*display: block;*/
}

#shop button{
  width:40%;
  border: none;
  /*padding-left: 2.5%;
  padding-right: 2.5%;*/
  margin-left: 4%;
  margin-right: 4%;
}

#field {
  width: 70%;
  background-color: green;
}
