:root {
	--primary-background-color: rgb(52, 123, 152);
	--primary-text-color: white;

	--secondary-background-color: rgb(190, 238, 255);
	--secondary-text-color: black;

	--dark-primary-background-color: #212529;
	--dark-primary-text-color: white;

	--dark-secondary-background-color: #32383e;
	--dark-secondary-text-color: white;
}

body {
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	font-family: system-ui;
}

button {
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
	border: 1px solid var(--primary-text-color);
}

.theme-dark button {
	background-color: var(--dark-primary-background-color);
	color: var(--dark-primary-text-color);
	border: 1px solid var(--dark-primary-text-color);
}

button:disabled {
	color: grey;
	cursor: not-allowed;
}

header {
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
}

.theme-dark header {
	background-color: var(--dark-primary-background-color);
	color: var(--dark-primary-text-color);
}

header>h1 {
	margin: 10px;
	text-align: center;
	font-size: 40px;
	font-weight: normal;
}

header>p {
	margin: 10px;
	text-align: center;
}

#theme-btn {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: 1px solid var(--primary-text-color);
	cursor: pointer;
}

.theme-dark #theme-btn {
	border: 1px solid var(--dark-primary-text-color);
}

#top-nav {
	display: grid;
	grid-template-columns: repeat(2, minmax(10px, 1fr)) 48px;
}

#top-nav>a>button {
	width: 100%;
	font-size: 20px;
	padding: 6px;
	border: 1px solid black;
	border-left: none;
	border-radius: 0;
	cursor: pointer;
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
}

.theme-dark #top-nav>a>button {
	border-color: white;
	background-color: var(--dark-primary-background-color);
	color: var(--dark-primary-text-color);
}

#top-nav>a:last-child>button {
	border-right: none;
}

#top-nav>a>button.active {
	background-color: var(--secondary-background-color);
	border-bottom-color: var(--secondary-background-color);
	color: var(--secondary-text-color);
}

.theme-dark #top-nav>a>button.active {
	background-color: var(--dark-secondary-background-color);
	border-bottom-color: var(--dark-secondary-background-color);
	color: var(--dark-secondary-text-color);
}

#main {
	position: relative;
	color: var(--secondary-text-color);
	background-color: var(--secondary-background-color);
}

.theme-dark #main {
	color: var(--dark-secondary-text-color);
	background-color: var(--dark-secondary-background-color);
}

footer {
	width: 100%;
	min-height: 30px;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);
	border: 1px dashed var(--primary-text-color);
}

.theme-dark footer {
	background-color: var(--dark-primary-background-color);
	color: var(--dark-primary-text-color);
	border-color: var(--dark-primary-text-color);
}

footer>*:last-child {
	text-align: right;
}

footer>span {
	grid-column: 2 / 3;
	text-align: center;
}

.shared-table {
	border-spacing: 0;
	border: 1px solid black;
	color: var(--secondary-text-color);
	background-color: white;
}

.theme-dark .shared-table {
	color: var(--dark-secondary-text-color);
	background-color: var(--dark-secondary-background-color);
}

.shared-table tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, .1);
}

.theme-dark .shared-table tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, .1);
}

.shared-table th,
.shared-table td {
	padding: .75rem;
	border: 1px solid black;
}

.shared-table th {
	color: var(--primary-text-color);
	background-color: var(--primary-background-color);
}

.theme-dark .shared-table th {
	color: var(--dark-primary-text-color);
	background-color: var(--dark-primary-background-color);
}