main {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 3px;
	padding: 3px;
}

#drawing-canvas,
#output-code {
	border: 1px solid var(--primary-background-color);
}

#drawing {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

#drawing>div:nth-child(2) {
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: 3px;
}

#drawing-canvas {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

#drawing-tools {
	border: 1px solid var(--primary-background-color);
}

#drawing-tools>div {
	display: block;
}

#output-code {
	display: block;
	width: 100%;
	min-height: 50px;
	height: fit-content;
	margin: 0;
	word-break: break-word;
	padding: 10px;
}

#color_pickers>div {
	width: fit-content;
}

#color_pickers input {
	background: transparent;
	color: white;
	mix-blend-mode: difference;
}