#main {
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: center;
	gap: 10px;
}

#counter {
	font-size: 15vw;
}

#buttons-container {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	gap: 10px;
}

/* TODO: switch to rem ? */
#buttons-container>button {
	width: 90%;
	max-height: 50vh;
	aspect-ratio: 1/1;
	padding: 10px;
	font-size: calc(min(15vw, 10rem));
	border-radius: 50%;
}

/* TODO: set global small screen size */
@media screen and (max-width: 600px) {
	#buttons-container {
		grid-template-columns: 1fr;
	}

	#buttons-container>button {
		max-height: 30vh;
	}
}

#bottom-buttons {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#bottom-buttons>button {
	font-size: 1.5em;
}