body {
	min-width: 300px;
}

main {
	min-height: calc(100vh - 10px - 30px);
}

.window-content {
	height: fit-content;
	position: relative;
}

.window-bar {
	width: 100%;
	z-index: 100;
	margin-bottom: 5px;
	border-bottom: 1px solid black;
}

.window-bar>* {
	display: inline-block;
}

.window-bar>button {
	width: 24px;
	height: 24px;
	text-align: center;
	border: 1px solid black;
}

.window-bar>div {
	width: calc(100% - 24px);
	text-align: center;
}

.calc_with_log-div {
	margin-bottom: 10px;
	border: 1px solid black;
}

.calc_with_log-div>.window-content {
	display: grid;
}

@media (max-width: 599px) {
	.calc_with_log-div>.window-content {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 600px) {
	.calc_with_log-div>.window-content {
		grid-template-columns: minmax(400px, 1fr) minmax(190px, 1fr);
	}
}

#converters {
	display: inline-block;
	margin: 1px;
}

#converters>div {
	width: 100%;
	padding: 5px;
	border: 1px solid black;
}

#converters>div>label {
	display: block;
}

@media (max-width: 299px) {
	#converters>div>* {
		display: block;
		width: 100%;
	}
}

@media (min-width: 300px) {
	#converters>div>input {
		width: 50%;
		display: inline-block;
	}

	#converters>div>.result {
		width: 50%;
		display: inline-block;
		text-align: right;
	}
}

.logs {
	max-height: 25vh;
	display: inline-block;
	position: relative;
	padding: 5px;
	overflow-y: auto;
	margin: 1px;
	border: 1px solid black;
}

.logs>.window-content>h3 {
	text-align: center;
}

#mtu-div {
	padding: 5px;
	border: 1px solid black;
}

#mtu-inputs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
	padding: 5px;
}

@media (max-width: 599px) {
	#mtu-inputs {
		grid-template-columns: 1fr;
	}
}

#mtu-inputs>div>* {
	width: 50%;
	display: inline-block;
}

#mtu-table {
	width: 100%;
	max-height: 50vh;
	display: block;
	overflow-y: auto;
	border-spacing: 0px;
}

#mtu-table>tr:nth-child(even) {
	background-color: lightgrey;
}

#mtu-table>tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

#mtu-table th,
#mtu-table td {
	border: 1px solid black;
}

#mtu-table td {
	text-align: right;
}

.input-container {
	width: 50%;
	display: inline-block;
}

.input-container>label,
.input-container>input {
	width: 100%;
}

input:disabled {
	cursor: not-allowed;
}