#main {
	display: grid;
	gap: 5px;
}

#meals-div {
	max-height: 50vh;
	overflow-y: auto;
	justify-self: center;
}

.recipe-container {
	padding: 10px;
	border: 1px solid var(--dark-primary-text-color);
}

.recipe-title {
	text-decoration: underline;
}

.recipe-ingredients, .recipe-steps {
	margin-top: 10px;
}

.recipe-ingredients>span, .recipe-steps>span {
	text-decoration: underline;
}