#main {
	display: grid;
	gap: 5px;
}

#meals-div {
	max-height: 50vh;
	overflow-y: auto;
	justify-self: center;
}

.shared-table {
	border-spacing: 0;
	border: 1px solid black;
	color: var(--secondary-text-color);
	background-color: white;
}

.shared-table tr:nth-child(odd) {
	background-color: rgba(0,0,0,.1);
}

.shared-table th,
.shared-table td {
	padding: .75rem;
	border: 1px solid black;
}

.shared-table th {
	color: var(--primary-text-color);
	background-color: var(--primary-background-color);
}

@media (prefers-color-scheme: dark) {
	.shared-table {
		color: var(--dark-secondary-text-color);
		background-color: var(--dark-secondary-background-color);
	}
	
	.shared-table tr:nth-child(odd) {
		background-color: rgba(255,255,255,.1);
	}
	
	.shared-table th {
		color: var(--dark-primary-text-color);
		background-color: var(--dark-primary-background-color);
	}
}